* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header > h1 {
    color: rgb(184, 24, 24);
    font-family: "Homemade Apple", cursive;
    font-size: max(4vw, 30px);
    margin-top: 2vh;
}

header > p {
    color: rgb(184, 80, 80);
    font-family: "Poppins", sans-serif;
    font-size: max(1.5vw, 15px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 80%;
    /* border: 1px white solid; */
    margin: auto;
    margin-top: 8vh;
}

.picture {
    width: 15%;
}

.picture img {
    width: 100%;
}

.picture p {
    color: white;
    font-size: 0.8vw;
    text-align: right;
    margin-top: 2vh;
}
.picture p:first-of-type {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5vw;
    color: rgb(243, 167, 167);
    margin-top: 2vh;
    text-align: center;
}

.dateAppointments {
    width: 45%;
    /* border: 1px yellow solid; */
    font-size: max(1vw, 12px);
    color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}



.dateAppointments > h4 {
    font-weight: 100;
    margin: 10px;
}

.appointmentsList {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: red;
    border-collapse: collapse;
    border-style: hidden;
    cursor: pointer;
}

.appointmentsList thead {
    color: rgb(226, 51, 51);
    cursor: auto;
}
.appointmentsList th, .appointmentsList td {
    border: 1px solid rgb(54, 54, 54);
}

.appointmentsList tr {
    height: 30px;
}

.appointmentsList .labelHour {
    width: 30%;
}

.dateAppointments > .appointmentsList > .labelHour {
    width: 20%;
    height: 30px;
}

.dateAppointments > p {
    font-size: 11px;
    margin-top: 2vh;
}


.infoUser {
    width: 20%;
    color: white;
    font-size: max(1vw, 12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    /* border: 1px red solid; */
}

.infoUser form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.infoUser form > label {
    width: 100%;
    margin-top: 2vh;
}

.infoUser form > input {
    width: 100%;
    height: 30px;
}

.buttons {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons .button {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    cursor: pointer;
}